<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>Mijn Citaat Pagina</title>
</head>
<!DOCTYPE html>
<html>
<body>
    {% if fouten %}
    <ul style="color: red;">
        {% for fout in fouten %}
            <li>{{ fout }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <h2>Vul je naam in</h2>
    <form action="/" method="GET">
    <label>Geef de URL die je wilt inkorten:</label><br>
    <input type="text" name="url" placeholder="bijv. google.com"><br><br>
    <button type="submit">Genereer Short URL</button>
</form>
</html>
</html>